.rst-content .line-block {
  margin-left: 0 !important;
}

.icon.icon-home {
  color: transparent;
  background-image: url(https://s3-us-west-1.amazonaws.com/jarvisdev/logo-w-icon-white.svg) !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 170px;
  height: 40px;
  margin-top: 10px;
}

.icon.icon-home:before {
  display: none;
}

.ethical-rtd {
  display: none !important;
}